services:

    # FastAPI application
  app:
    container_name: app
    build: .
    ports:
      - "${APP_PORT:-8000}:8000"
    environment:
      PROJECT_NAME: "${PROJECT_NAME}"
      VERSION: "${VERSION}"
      APP_PORT: "${APP_PORT}"
      DEBUG: "${DEBUG}"
      LOG_LEVEL: "${LOG_LEVEL}"
      POSTGRES_DB: "${POSTGRES_DB}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_PORT: "${POSTGRES_PORT}"
      POSTGRES_HOST: "${POSTGRES_HOST}"
      DATABASE_URL: "${DATABASE_URL}"
      DB_POOL_SIZE: "${DB_POOL_SIZE}"
      DB_MAX_OVERFLOW: "${DB_MAX_OVERFLOW}"
      DB_POOL_TIMEOUT: "${DB_POOL_TIMEOUT}"
      CATALOG_SERVICE_URL: "${CATALOG_SERVICE_URL}"
      PAYMENTS_SERVICE_API_URL: "${PAYMENTS_SERVICE_API_URL}"
      PAYMENTS_CALLBACK_URL: "${PAYMENTS_CALLBACK_URL}"
      NOTIFICATIONS_SERVICE_API_URL: "${NOTIFICATIONS_SERVICE_API_URL}"
      CAPASHINO_SERVICE_ACCESS_TOKEN: "${CAPASHINO_SERVICE_ACCESS_TOKEN}"
      KAFKA_TOPIC: "${KAFKA_TOPIC}"
      KAFKA_BOOTSTRAP: "${KAFKA_BOOTSTRAP}"
    networks:
      - order_service_network

  # Worker container
  workers:
      container_name: order-service-workers
      build:
        context: .
        dockerfile: Dockerfile
      depends_on:
        app:
          condition: service_started
      environment:
        PROJECT_NAME: "${PROJECT_NAME}"
        VERSION: "${VERSION}"
        APP_PORT: "${APP_PORT}"
        DEBUG: "${DEBUG}"
        LOG_LEVEL: "${LOG_LEVEL}"
        POSTGRES_DB: "${POSTGRES_DB}"
        POSTGRES_USER: "${POSTGRES_USER}"
        POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
        POSTGRES_PORT: "${POSTGRES_PORT}"
        POSTGRES_HOST: "${POSTGRES_HOST}"
        DATABASE_URL: "${DATABASE_URL}"
        DB_POOL_SIZE: "${DB_POOL_SIZE}"
        DB_MAX_OVERFLOW: "${DB_MAX_OVERFLOW}"
        DB_POOL_TIMEOUT: "${DB_POOL_TIMEOUT}"
        CATALOG_SERVICE_URL: "${CATALOG_SERVICE_URL}"
        PAYMENTS_SERVICE_API_URL: "${PAYMENTS_SERVICE_API_URL}"
        PAYMENTS_CALLBACK_URL: "${PAYMENTS_CALLBACK_URL}"
        NOTIFICATIONS_SERVICE_API_URL: "${NOTIFICATIONS_SERVICE_API_URL}"
        CAPASHINO_SERVICE_ACCESS_TOKEN: "${CAPASHINO_SERVICE_ACCESS_TOKEN}"
        KAFKA_TOPIC: "${KAFKA_TOPIC}"
        KAFKA_BOOTSTRAP: "${KAFKA_BOOTSTRAP}"
      networks:
        - order_service_network
      restart: unless-stopped
      command: ["/app/entrypoint.sh"]

networks:
  order_service_network:
    driver: bridge